/* CSS kod pishite v etom faile, chotobi pri ustanovke obnovlenii ne bilo problem  */
/* --------------------------------------- */
/* Here you can put custom css rules for your site */
@font-face {
  font-family: "Berlin Type Office";
  src: url('fonts/Berlin/BerlinTypeOffice-Regular.woff2') format('woff2'), url('fonts/Berlin/BerlinTypeOffice-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Berlin Type Office";
  src: url('fonts/Berlin/BerlinTypeOffice-Bold.woff2') format('woff2'), url('fonts/Berlin/BerlinTypeOffice-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
:root {
  --primary-background: #0d969b;
  --link-color: #0fa8ae;
  --muted-text-color: #999;
  --global-line-height: 1.25;
}
body {
  font: 16px/22px "Berlin Type Office", Arial, sans-serif;
  line-height: 1.5;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Berlin Type Office", sans-serif;
  font-weight: 400;
  line-height: 1.25;
}
.filter {
  background-color: #f6f6f6;
}
.filter .bx_filter_parameters_box_title {
  border-bottom: none;
  font-family: "Berlin Type Office", sans-serif;
  font-size: 16px;
}
.filter .bx_filter_parameters_box.active .bx_filter_parameters_box_title::after {
  background: none;
}
.filter .bx_filter_title {
  font-family: "Berlin Type Office", sans-serif;
  font-size: 20px;
}
.filter.bx_vertical .bx_filter_parameters_box {
  margin-top: 15px;
}
.styled-block .form-group {
  float: none !important;
}
.front .btn-default.btn-lg {
  position: static;
  right: auto;
  top: auto;
}
.form.success.order_project .form-header {
  border-top: none;
}
.form.order_project .btn-lg {
  width: 100%;
}
.form.order_project .processing-block {
  margin-top: 10px;
  margin-bottom: 20px;
}
.form.order_project label[for="processing_approval"] {
  white-space: normal;
}
label[for="processing_approval"] {
  white-space: nowrap;
}
.news.item-views.list .item .title {
  font-size: 20px;
  line-height: 1.25;
}
.catalog.item-views.list .items > [class*="col"] {
  margin-bottom: 20px;
}
.catalog.item-views.list .item {
  padding: 15px 25px;
  transition: all 0.2s ease-in;
}
.catalog.item-views.list .item h2 {
  padding-top: 15px;
}
.catalog.item-views.list .item h2 ~ span {
  font-weight: 700;
  display: inline-block;
  color: #999;
}
.catalog.item-views.list .item a [itemprop="name"] {
  color: #333;
}
.catalog.item-views.list .item .btn {
  margin-top: 8px;
}
.catalog.item-views.list .item .btn:last-child {
  margin-right: 0;
}
.catalog.item-views.list .item .mini-badge {
  position: absolute;
  top: -23px;
  left: -18px;
}
.catalog.item-views.list .item .mini-badge:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  border: 4px solid transparent;
  border-top: 4px solid #111;
  border-right: 4px solid #111;
}
.catalog.item-views.list .item .mini-badge span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  vertical-align: top;
  padding: 0 8px;
  background-color: #009728;
  line-height: 24px;
  color: #fff;
  height: 24px;
  margin-right: 15px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.catalog.item-views.list .item .mini-badge span.percent {
  background-color: #972800;
}
.catalog.item-views.list .item .item-price {
  display: inline-block;
  margin-top: 15px;
}
.catalog.item-views.list .item .item-badge {
  background-color: #bbc7ce;
  border-radius: 0;
  border: none;
  padding: 10px 15px;
  white-space: nowrap;
  margin-bottom: 17px;
  margin-right: -26px !important;
  transition: background-color 0.2s ease-in;
  min-width: 190px;
  text-align: center;
  text-transform: none;
}
.catalog.item-views.list .item .item-badge span + span {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid white;
  display: inline-block;
  line-height: 0.9;
}
.catalog.item-views.list .item .item-badge:hover {
  background-color: #12ccd4 !important;
}
.catalog.item-views.list .item table {
  font-size: 15px;
  float: right;
}
.catalog.item-views.list .item table td {
  padding: 8px 0;
}
.catalog.item-views.list .item table td:first-child {
  text-align: right;
}
.catalog.item-views.list .item table span {
  margin-right: 8px;
  border-right: 1px solid #999;
  padding-right: 8px;
}
.catalog .item.skidka::after,
.catalog .item.recomend::after {
  font-size: 13px;
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: 1000;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
.catalog.sections .item {
  margin-bottom: 0;
}
.catalog.sections .item .image,
.catalog.sections.front .item .image {
  float: none;
  width: 100%;
  margin-bottom: 10px;
}
.catalog.sections .item .image img,
.catalog.sections.front .item .image img {
  vertical-align: bottom;
}
.catalog.sections .item .info,
.catalog.sections.front .item .info {
  padding-left: 0;
}
.catalog .wrap_pagination {
  text-align: right;
}
.catalog.detail .flexslider {
  box-shadow: none;
}
.catalog.detail .flexslider .slides > li .item {
  opacity: 1 !important;
  -webkit-filter: none !important;
  -moz-filter: none !important;
  filter: none !important;
  text-align: center;
  padding: 0 15px;
}
.catalog.detail .flexslider .slides > li img {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.catalog.detail .flexslider .flex-viewport {
  margin: 0 40px;
}
.catalog.detail .flexslider .h4 {
  margin-top: 15px;
}
.catalog.detail .flex-direction-nav a:before {
  line-height: 1;
}
.catalog.detail i.h2 {
  font-weight: 700;
}
.catalog.detail div.h2 {
  margin-bottom: 10px;
}
.catalog.detail .info h4 {
  font-weight: 400;
}
.catalog.detail .order .btn {
  min-width: 150px;
  font-family: "Berlin Type Office", sans-serif;
  font-size: 20px;
  text-transform: none;
}
.catalog .dgu-options {
  margin: 10px 0 20px;
}
.catalog .dgu-options .h4 {
  font-weight: 400;
  margin-bottom: 15px;
}
.catalog .dgu-options input {
  margin-top: 5px;
  float: left;
}
.catalog .dgu-options label {
  display: block;
  margin-left: 18px;
  font-size: 13px;
}
.catalog .other-models {
  margin: 30px 0;
}
.catalog .other-models .h2 {
  margin-bottom: 25px !important;
}
.catalog .other-models .row.hidden-xs {
  color: #fff;
  background-color: #0d969b;
  padding: 10px 0;
}
.catalog .other-models .row {
  margin-bottom: 15px;
}
.catalog .other-models .row + .row {
  border-bottom: 1px solid #d5d5d5;
}
.catalog .other-models .row:not(.hidden-xs) .col-xs-12 {
  margin-bottom: 15px;
}
.catalog .other-models .col-sm-2:first-child span {
  white-space: nowrap;
}
.catalog .other-models .col-sm-2:last-child {
  padding-right: 0;
}
.catalog-simillar .row:not(.visible) + .row {
  display: none;
}
.catalog-simillar .row:not(:last-child) {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #efefef;
}
.catalog-projects .image,
.catalog-simillar .image {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .catalog.item-views .item .image {
    height: 160px;
    line-height: 160px;
    min-width: 180px;
  }
  .catalog-projects .col-sm-6:first-child .item,
  .catalog-simillar .col-sm-6:first-child .item {
    border-bottom: 1px solid #efefef;
    margin-bottom: 25px;
    padding-bottom: 25px;
  }
  .catalog .other-models .col-xs-12:not(:empty) {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.1em;
  }
  .catalog .other-models .visible-xs {
    margin-right: 3px;
    display: inline-block !important;
  }
}
@media (min-width: 768px) {
  .catalog .other-models .btn {
    width: 100%;
    white-space: normal;
    margin: -7px 0;
  }
}
@media (min-width: 992px) {
  .catalog.item-views.list .item h2 {
    display: inline-block;
  }
  .catalog.item-views.list .item .item-price {
    position: absolute;
    top: 9px;
    right: 14px;
    margin-top: 0;
    text-align: right;
  }
  .catalog.item-views.list .item .item-badge {
    margin-top: -16px;
    float: right;
  }
  .catalog.item-views.list .item .mini-badge {
    display: inline-block;
    float: right;
  }
}
.services {
  background-color: #eee;
}
.services .row {
  padding: 15px 15px 5px;
}
.services .row [class*="col"]:hover .fa {
  color: #333;
}
.services .row p,
.services .row h4 {
  cursor: default;
}
.services .fa {
  font-size: 45px;
  color: #aaa;
  transition: color ease-in 0.3s;
}
.advantages ol li {
  font-size: 22px;
  line-height: 1.25;
}
.advantages ul li {
  font-size: 18px;
}
.advantages strong {
  font-size: 20px;
}
.advantages .why-nhs .h1 {
  text-align: center;
  width: 200px;
  height: 200px;
  line-height: 1.25;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding-top: 45px;
  cursor: default;
  margin-bottom: 0;
}
.advantages .why-nhs td:last-child {
  padding-left: 50px;
  border-left: 1px solid #ccc;
}
.advantages .why-nhs td:last-child:hover span {
  border-color: #0fa8ae;
  font-weight: 400;
  background-color: rgba(15, 168, 174, 0.1);
}
.advantages .why-nhs .list-item {
  margin-left: 75px;
  min-height: 75px;
  line-height: 30px;
  display: flex;
  align-items: center;
  cursor: default;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
}
.advantages .why-nhs .list-item:before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  width: 50px;
  position: absolute;
  left: 0;
  transition: background-color ease-in 0.2s;
}
.advantages .why-nhs span {
  position: absolute;
  left: 50px;
  text-align: center;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 19px;
  font-weight: 400;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 15px;
  transition: all ease-in 0.2s;
}
.advantages .why-nhs td {
  position: relative;
}
.advantages .why-nhs tr:first-child .list-item:before {
  box-shadow: -31px -20px 0 19px #fff;
}
.advantages .why-nhs tr:nth-child(3) .list-item:before {
  width: 102px;
  left: -51px;
}
.advantages .why-nhs tr:last-child .list-item:before {
  box-shadow: -31px 20px 0 19px #fff;
}
.projects-lead ul,
.advantages ul {
  list-style: none;
  padding-left: 40px;
  margin-bottom: 20px;
}
.projects-lead ul li,
.advantages ul li {
  line-height: 2;
}
.projects-lead ul li:before,
.advantages ul li:before {
  content: "\f00c";
  display: inline-block;
  position: relative;
  left: -8px;
  margin-left: -14px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0fa8ae;
}
.projects-lead {
  font-size: 15px;
}
.projectslist .image {
  margin-bottom: 20px;
}
.projectslist .wrap_pagination {
  text-align: right;
}
.form.contacts .form-group textarea {
  height: auto;
}
.projects-gallery {
  margin-left: -7px;
  margin-right: -7px;
}
.projects-gallery > [class*=col] {
  padding-left: 7px;
  padding-right: 7px;
}
.projects-gallery .img {
  display: block;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .projects-gallery .img {
    height: 225px;
  }
}
@media (max-width: 767px) {
  .projects-gallery .img {
    height: 250px;
  }
}
@media (max-width: 467px) {
  .projects-gallery .img {
    height: 175px;
  }
}
.catalog.item-views .item .image {
  max-width: 260px;
  height: auto;
}
.dlya {
  margin-bottom: 30px;
}
.dlya a {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.25;
}
.city-switcher {
  font-size: 14px;
  line-height: 1.25;
  cursor: pointer;
}
.city-switcher .cityname {
  font-size: 14px;
  font-weight: 400;
  color: #0d969b;
}
@media (max-width: 767px) {
  .city-switcher {
    text-align: right;
  }
  .city-switcher > div {
    display: inline-block;
    line-height: 1.25;
  }
}
@media (min-width: 992px) {
  .city-switcher {
    text-align: right;
  }
}
#switch-city .modal-header,
#ask-city .modal-header {
  text-align: center;
  padding: 27px 15px;
}
#switch-city .modal-title,
#ask-city .modal-title,
#switch-city .modal-body,
#ask-city .modal-body {
  cursor: default;
}
#switch-city .modal-content,
#ask-city .modal-content {
  border-radius: 0;
  border-top: 2px solid #0d969b;
}
#switch-city .btn,
#ask-city .btn {
  min-width: 90px;
  margin-bottom: 0;
  text-transform: none;
}
#switch-city a,
#switch-city span {
  font-size: 16px;
  display: inline-block;
  padding: 3px 12px;
  margin-bottom: 3px;
  font-weight: 400;
  width: 48%;
}
#switch-city a:hover {
  text-decoration: underline !important;
}
#ask-city .modal-body,
#ask-city .modal-footer {
  text-align: center;
}
#ask-city .h3 {
  margin-bottom: 15px;
}
body.modal-open {
  padding-right: 17px;
}
.dgu-range .clearfix {
  width: 130px;
}
.dgu-range .col {
  margin: 0 2px 3px 0;
  color: #0fa8ae;
  display: block;
  line-height: 1.25;
  font-size: 12px;
  padding: 0 5px;
  border: 1px solid rgba(15, 168, 174, 0.45);
  cursor: pointer;
  transition: color 0.12s ease-out, background-color 0.12s ease-out;
}
.dgu-range .col:hover,
.dgu-range .col.active {
  background-color: #0fa8ae;
  color: #fff;
  border-color: #0fa8ae;
  transition: none;
}
.dgu-range .col.active {
  cursor: default;
}
.dgu-range .col:hover a {
  color: #fff;
}
.menu-children {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-menu {
  color: #555;
  font-size: inherit;
  font-weight: inherit;
  text-transform: none;
  margin-top: 20px;
}
.bottom-menu .item a {
  color: #555;
  text-decoration: none;
}
.bottom-menu .item a:hover {
  color: #0fa8ae;
}
.bottom-menu-subitem {
  font-size: 10px;
  display: block;
  font-weight: 400;
  border-top: 1px solid #12ccd4;
}
.bottom-menu-subitem:hover {
  color: #12ccd4;
}
/* ============================ */
/* ========== CUSTOM ========== */
/* ============================ */
@keyframes flipOutX {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 1;
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}
.svg-icon {
  vertical-align: middle;
  width: 18px;
  height: 18px;
}
.svg-icon.icon-arrow-down {
  width: 18px;
  height: 9px;
}
.svg-icon.icon-arrow-right {
  width: 6px;
  height: 12px;
}
.svg-icon.icon-bordered-arrow-down {
  width: 24px;
  height: 24px;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.gap-5 {
  gap: 3rem !important;
}
.flex-row {
  --bs-gutter-x: 3rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.flex-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
  float: none !important;
}
.flex-row .col-xs {
  flex: 1 0 0%;
}
.flex-row .col-xs-auto {
  flex: 0 0 auto;
  width: auto;
}
.flex-row .col-xs-12 {
  flex: 0 0 auto;
  width: 100%;
}
.flex-row .col-xs-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.flex-row .col-xs-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.flex-row .col-xs-9 {
  flex: 0 0 auto;
  width: 75%;
}
.flex-row .col-xs-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.flex-row .col-xs-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.flex-row .col-xs-6 {
  flex: 0 0 auto;
  width: 50%;
}
.flex-row .col-xs-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.flex-row .col-xs-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.flex-row .col-xs-3 {
  flex: 0 0 auto;
  width: 25%;
}
.flex-row .col-xs-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.flex-row .col-xs-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.order-first {
  order: -1 !important;
}
.order-last {
  order: 999 !important;
}
@media (min-width: 768px) {
  .flex-row .col-sm {
    flex: 1 0 0%;
  }
  .flex-row .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .flex-row .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .flex-row .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .flex-row .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .flex-row .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .flex-row .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .flex-row .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .flex-row .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .flex-row .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .flex-row .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .flex-row .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .flex-row .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .flex-row .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .order-sm-first {
    order: -1 !important;
  }
  .order-sm-last {
    order: 999 !important;
  }
}
@media (min-width: 992px) {
  .flex-row .col-md {
    flex: 1 0 0%;
  }
  .flex-row .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .flex-row .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .flex-row .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .flex-row .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .flex-row .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .flex-row .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .flex-row .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .flex-row .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .flex-row .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .flex-row .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .flex-row .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .flex-row .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .flex-row .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .order-md-first {
    order: -1 !important;
  }
  .order-md-last {
    order: 999 !important;
  }
}
@media (min-width: 1200px) {
  .flex-row .col-lg {
    flex: 1 0 0%;
  }
  .flex-row .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .flex-row .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .flex-row .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .flex-row .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .flex-row .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .flex-row .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .flex-row .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .flex-row .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .flex-row .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .flex-row .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .flex-row .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .flex-row .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .flex-row .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .order-lg-first {
    order: -1 !important;
  }
  .order-lg-last {
    order: 999 !important;
  }
}
a .svg-icon.icon-arrow-right {
  width: 5px;
  height: 10px;
  margin-left: 4px;
}
.btn {
  font-weight: 700;
}
.btn.btn-text {
  padding: 0;
  border: none;
  background-color: transparent;
}
.position-relative {
  position: relative !important;
}
.maxwidth-theme {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}
.frontpage-row {
  padding: 24px 0;
}
@media (min-width: 768px) {
  .frontpage-row {
    padding: 30px 0;
  }
}
.frontpage-row .section-heading {
  text-align: center;
  margin-bottom: 30px;
}
.frontpage-row .section-heading .section-title {
  margin-bottom: 8px;
}
.frontpage-row .section-heading .section-title .heading-title-name {
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .frontpage-row .section-heading .section-title .heading-title-name {
    font-size: 36px;
  }
}
.frontpage-row .section-heading .section-title:has(.heading-title-link) .heading-title-name {
  display: inline;
  margin-right: 8px;
}
.frontpage-row .section-heading .section-title .heading-title-link {
  display: inline-block;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.frontpage-row .section-heading .section-title .heading-title-link .svg-icon.icon-arrow-right {
  width: 5px;
  height: 10px;
}
.frontpage-row .section-heading .section-subtitle {
  color: #555;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}
.frontpage-row .section-heading .section-subtitle > p {
  margin-bottom: 12px;
}
.frontpage-row .section-heading .section-subtitle > p:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .frontpage-row .section-heading .section-subtitle {
    font-size: 24px;
  }
}
.item-text > p {
  margin-bottom: 12px;
}
.item-text > p:last-child {
  margin-bottom: 0;
}
.logo-row {
  padding: 10px 0 !important;
}
@media (max-width: 767px) {
  .logo-row .flex-row {
    --bs-gutter-x: 1rem;
  }
}
.logo-row .logo {
  width: auto !important;
  height: auto !important;
  line-height: 1.4 !important;
}
.logo-row .logo img {
  max-width: 80px !important;
  max-height: none !important;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .logo-row .logo img {
    max-width: 115px !important;
  }
}
.logo-row .top-description {
  font-size: 14px;
  line-height: 1.25;
  padding-top: 0;
}
.logo-row .top-city-switcher {
  position: relative;
}
@media (max-width: 767px) {
  .logo-row .top-city-switcher {
    order: 999;
  }
}
.logo-row .top-callback {
  padding-top: 0;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .logo-row .top-callback {
    order: 999;
  }
}
.logo-row .top-callback .callback .btn-default.white {
  color: #ffffff !important;
  border-color: #0fa8ae !important;
  background-color: #0fa8ae !important;
  font-size: 14px;
  line-height: 1.25;
  padding: 12px 18px;
  border-radius: 0;
  margin: 0;
}
.logo-row .top-callback .callback .btn-default.white:hover,
.logo-row .top-callback .callback .btn-default.white:active,
.logo-row .top-callback .callback .btn-default.white:focus {
  color: #0fa8ae !important;
  border-color: #0fa8ae !important;
  background-color: #ffffff !important;
}
@media (min-width: 1200px) {
  .logo-row .top-callback .callback .btn-default.white {
    font-size: 18px;
    padding: 14px 20px;
  }
}
.logo-row .top-callback .phone {
  margin-right: 0;
}
@media (min-width: 431px) {
  .logo-row .top-callback .phone {
    margin-right: 40px;
  }
}
.logo-row .top-callback .phone .fa {
  display: none !important;
}
.logo-row .top-callback .phone .phone-number {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
@media (min-width: 431px) {
  .logo-row .top-callback .phone .phone-number {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .logo-row .top-callback .phone .phone-number {
    font-size: 18px;
  }
}
.logo-row .top-callback .phone .phone-number > div a {
  font-size: inherit !important;
  color: #0fa8ae;
}
.logo-row .top-callback .phone .phone-number > div a:hover {
  color: #333;
}
.logo-row .top-callback .phone .phone-desc {
  font-size: 12px;
  line-height: 1.25;
  margin-top: 2px;
  margin-bottom: 0;
}
.logo-row .top-callback .email {
  text-align: right;
  margin: 0 !important;
}
.logo-row .top-callback .email .fa {
  display: none !important;
}
.logo-row .btn-responsive-nav {
  position: static !important;
}
.mega-menu table td .wrap > a {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  height: 70px;
  line-height: 70px;
  padding: 0 15px;
}
.mega-menu table td.search-item .wrap > a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #0fa8ae;
}
.mega-menu table td.search-item .wrap > a:hover {
  color: #333;
}
.mega-menu table td.search-item .wrap > a .fa {
  vertical-align: inherit;
}
.mega-menu table td .more-items > span {
  position: static;
  height: inherit;
  line-height: inherit;
  vertical-align: inherit;
}
.mega-menu table .dropdown-menu li > a {
  font-size: 14px;
}
.search {
  top: 70px;
}
.search form:after {
  right: 4px;
}
.topmenu-COLOR .menu-row {
  background-color: #F4BC8433;
}
.topmenu-COLOR .menu-row .mega-menu table td .wrap > a:hover {
  background-color: #F4BC8433;
}
.topmenu-COLOR .menu-row .mega-menu table .dropdown-menu li:hover > a,
.topmenu-COLOR .menu-row .mega-menu table .dropdown-menu li.active > a,
.topmenu-COLOR .menu-row .mega-menu table .dropdown-menu li > a:hover,
.topmenu-COLOR .menu-row .mega-menu table .dropdown-menu li > a:active,
.topmenu-COLOR .menu-row .mega-menu table .dropdown-menu li > a:focus {
  background-color: #F4BC8433;
  color: #333;
}
header.fixed .logo_and_menu-row {
  height: auto !important;
}
header.fixed .logo-row .top-logo {
  width: auto;
  padding-top: 0;
}
header.fixed .logo-row .top-logo .logo img {
  max-width: 70px !important;
}
header.fixed .logo-row .top-city-switcher {
  width: 30%;
  padding-top: 0;
}
header.fixed .logo-row .top-city-switcher .city-switcher {
  text-align: left;
  line-height: 1.75;
}
header.fixed .logo-row .top-city-switcher .city-switcher > div {
  display: inline-block;
}
header.fixed .logo-row .top-callback {
  flex: 1 1 auto;
  width: auto;
  padding-top: 0;
}
header.fixed .logo-row .top-callback .callback .btn-default.white {
  font-size: 12px;
  padding: 8px 16px;
}
@media (min-width: 1200px) {
  header.fixed .logo-row .top-callback .callback .btn-default.white {
    font-size: 14px;
    padding: 12px 18px;
  }
}
header.fixed .logo-row .top-callback .phone .phone-number {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.01em;
}
@media (min-width: 1200px) {
  header.fixed .logo-row .top-callback .phone .phone-number {
    font-size: 16px;
  }
}
.banners-big .flexslider {
  height: auto !important;
  overflow: visible !important;
}
.banners-big .flex-control-nav {
  display: none !important;
  bottom: -30px;
}
@media (max-width: 991px) {
  .banners-big .flex-control-nav {
    display: block !important;
  }
}
.banners-big .flex-control-nav a {
  width: 6px;
  height: 6px;
  background: #0fa8ae;
}
.banners-big .flex-control-nav a.flex-active,
.banners-big .flex-control-nav a:hover {
  width: 12px;
  height: 12px;
  border: 2px solid #0fa8ae;
}
.banners-big .slides {
  height: auto !important;
}
.banners-big .slides li {
  height: 400px;
  background-size: cover !important;
}
@media (max-width: 767px) {
  .banners-big .slides li {
    height: 340px;
  }
}
.banners-big .slides li .text {
  height: 400px;
  line-height: inherit;
}
@media (max-width: 767px) {
  .banners-big .slides li .text {
    height: 340px;
  }
}
.banners-big .slides li .text .inner {
  position: absolute;
  bottom: -100%;
  left: 15px;
  right: 15px;
  text-align: left;
  padding: 13px 20px !important;
  line-height: inherit;
  background: #FDF2E6;
  opacity: 0;
  transition: opacity 1s ease 0.6s, bottom 1s ease 0.3s;
  -webkit-transition: opacity 1s ease 0.6s, bottom 1s ease 0.3s;
  -moz-transition: opacity 1s ease 0.6s, bottom 1s ease 0.3s;
  -o-transition: opacity 1s ease 0.6s, bottom 1s ease 0.3s;
}
@media (min-width: 768px) {
  .banners-big .slides li .text .inner {
    left: 0;
    right: 0;
    padding: 20px 35px !important;
  }
}
.banners-big .slides li .text .inner .title {
  color: #333 !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01em;
  padding: 0;
  margin-bottom: 6px;
  background: transparent !important;
  box-shadow: none !important;
}
@media (min-width: 768px) {
  .banners-big .slides li .text .inner .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.banners-big .slides li .text .inner .text-block {
  color: #555 !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 6px;
  background: transparent !important;
  box-shadow: none !important;
}
@media (min-width: 768px) {
  .banners-big .slides li .text .inner .text-block {
    margin-bottom: 10px;
  }
}
.banners-big .slides li .text .inner .buttons-block {
  background: transparent !important;
  box-shadow: none !important;
}
.banners-big .slides li .text .inner .buttons-block .btn-default {
  color: #0fa8ae !important;
  border-color: transparent !important;
  background-color: transparent !important;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 400;
  padding: 0 !important;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .banners-big .slides li .text .inner .buttons-block .btn-default {
    font-size: 18px;
  }
}
.banners-big .slides li .text .inner .buttons-block .btn-default:hover {
  color: #333 !important;
}
.banners-big .slides li .text .inner .buttons-block .btn-default::after {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 8px;
  vertical-align: middle;
}
.banners-big .slides li.flex-active-slide .text .inner {
  opacity: 1;
  bottom: 0;
}
.banners-big .slides .shown .text .inner {
  opacity: 0;
}
.frontpage-cat-dgu-row {
  padding-top: 60px;
}
.item-cat-dgu .item-title {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .item-cat-dgu .item-title {
    font-size: 24px;
  }
}
.item-cat-dgu .item-title a {
  font-weight: 700;
}
.item-cat-dgu .item-title a:hover {
  color: #0FA8AE;
  text-decoration: underline !important;
}
.item-cat-dgu .item-img {
  margin-bottom: 10px;
}
.item-cat-dgu .item-img img {
  width: 100%;
}
.item-cat-dgu .item-body {
  text-align: center;
  font-size: 12px;
  padding: 12px 24px;
  background-color: #EAF0F2;
  transition: background-color 0.3s ease;
}
@media (min-width: 768px) {
  .item-cat-dgu .item-body {
    font-size: 16px;
  }
}
.item-cat-dgu .item-body:hover,
.item-cat-dgu .item-body.expanded {
  background-color: #F4BC8433;
}
.item-cat-dgu .item-body .item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.item-cat-dgu .item-body .item-list li {
  display: none;
}
.item-cat-dgu .item-body .item-list li.visible {
  display: list-item;
}
.item-cat-dgu .item-body .item-list li a {
  color: #333;
}
.item-cat-dgu .item-body .item-list li a:hover {
  color: #0fa8ae;
}
.item-cat-dgu .item-body .item-btn-down {
  display: none;
  width: 100%;
  padding: 4px 0;
  margin: 0;
  color: #333;
  font-size: 14px;
  border: none;
  background-color: transparent;
}
.item-cat-dgu .item-body .item-btn-down > * {
  transition: transform 0.3s ease;
}
.item-cat-dgu .item-body .item-btn-down.rotate > * {
  transform: rotate(180deg);
}
.frontpage-features-row .section-heading {
  max-width: 655px;
  text-align: left;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .frontpage-features-row .section-heading {
    margin-bottom: 60px;
  }
}
.frontpage-features-row .section-heading .section-title .heading-title-name {
  text-transform: none;
}
.features-wrapper {
  position: relative;
}
@media (min-width: 768px) {
  .features-wrapper {
    padding: 69px 0 31px;
  }
  .features-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    right: 34px;
    bottom: 0;
    left: 34px;
    border: 8px solid #CFEEEF;
  }
}
.item-feature {
  display: flex;
  gap: 14px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .item-feature {
    gap: 24px;
    margin-bottom: 38px;
  }
  .item-feature.inverse .item-body {
    order: -1;
  }
}
.item-feature .item-img {
  flex-shrink: 0;
  width: 53px;
}
@media (min-width: 768px) {
  .item-feature .item-img {
    width: 73px;
  }
}
.item-feature .item-img svg {
  max-width: 100%;
}
.item-feature .item-body .item-title {
  color: #333;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .item-feature .item-body .item-title {
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 10px;
  }
}
.item-feature .item-body .item-text {
  color: #555;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .item-feature .item-body .item-text {
    font-size: 16px;
  }
}
.frontpage-main-cats-row {
  position: relative;
}
.item-main-cat {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-main-cat .item-title {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .item-main-cat .item-title {
    height: 72px;
    font-size: 24px;
  }
}
.item-main-cat .item-title a {
  color: #333;
}
.item-main-cat .item-title a:hover {
  color: #0FA8AE;
}
.item-main-cat .item-img img {
  width: 100%;
}
.item-main-cat .item-body {
  text-align: center;
  font-size: 12px;
  padding: 17px;
}
@media (min-width: 768px) {
  .item-main-cat .item-body {
    font-size: 16px;
  }
}
.frontpage-projects-row .section-heading {
  max-width: 967px;
  margin: 0 auto 24px;
}
@media (min-width: 768px) {
  .frontpage-projects-row .section-heading {
    margin-bottom: 53px;
  }
}
.frontpage-projects-row .section-button {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .frontpage-projects-row .section-button {
    margin-top: 29px;
  }
}
.frontpage-projects-row .section-button .btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
  padding: 20px 30px;
  margin: 0;
}
@media (min-width: 768px) {
  .frontpage-projects-row .section-button .btn {
    font-size: 18px;
  }
}
.projects-wrapper .flex-row {
  --bs-gutter-x: 0;
}
@media (max-width: 767px) {
  .projects-wrapper .flex-row {
    --bs-gutter-y: 24px;
  }
}
.item-project {
  position: relative;
  overflow: hidden;
  height: 466px;
}
@media (min-width: 768px) {
  .item-project {
    height: 657px;
  }
  .item-project:hover .item-body {
    bottom: 0;
  }
}
.item-project .item-img img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.item-project .item-body {
  position: absolute;
  top: auto;
  bottom: 0;
  width: 100%;
  padding: 20px 15px;
  background-color: #FDF2E6;
  transition: bottom 0.4s ease;
}
@media (min-width: 768px) {
  .item-project .item-body {
    padding: 40px;
    bottom: -100%;
  }
}
.item-project .item-body .item-title {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .item-project .item-body .item-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.item-project .item-body .item-text {
  color: #555;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .item-project .item-body .item-text {
    font-size: 16px;
  }
}
.item-project .item-body .item-button {
  margin-top: 8px;
}
.item-project .item-body .item-button .btn {
  text-transform: lowercase;
  border: none;
  padding-left: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.01em;
}
.frontpage-service-row .section-heading {
  max-width: 655px;
  text-align: left;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .frontpage-service-row .section-heading {
    margin-bottom: 60px;
  }
}
.frontpage-service-row .section-heading .section-title .heading-title-name {
  text-transform: none;
}
.service-top .section-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (min-width: 768px) {
  .service-top .section-body {
    gap: 80px;
  }
}
@media (min-width: 992px) {
  .service-top .section-body {
    gap: 24px;
  }
}
.service-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 24px;
  row-gap: 12px;
}
.service-buttons .btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.01em;
  padding: 20px 30px;
  margin: 0;
}
@media (max-width: 767px) {
  .service-buttons .btn {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .service-buttons .btn {
    font-size: 18px;
  }
}
.service-wrapper {
  background: #fff;
  box-shadow: 0px 4px 27px 0px rgba(102, 102, 102, 0.25);
  z-index: 3;
}
.flexsliderService {
  margin-bottom: 0;
}
.flexsliderService .slides {
  display: flex;
}
.flexsliderService .slides > li {
  height: auto;
  border-right: 2px solid #eaeaea;
}
.flexsliderService .flex-control-nav {
  bottom: -30px;
}
.flexsliderService .flex-control-nav li {
  margin: 0;
}
.flexsliderService .flex-control-nav li a {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: none;
  border: medium none;
  margin: 0 5px;
  background: #0fa8ae;
}
.flexsliderService .flex-control-nav li a.flex-active,
.flexsliderService .flex-control-nav li a:hover {
  width: 12px;
  height: 12px;
  margin: 0 2px;
  border: 2px solid #0fa8ae;
  background: transparent !important;
}
.flexsliderService .flex-direction-nav {
  position: absolute;
  top: auto;
  right: 0;
  bottom: -50px;
  display: flex;
  gap: 15px;
}
@media (max-width: 767px) {
  .flexsliderService .flex-direction-nav {
    display: none;
  }
}
.flexsliderService .flex-direction-nav a {
  position: static;
  opacity: 1;
  margin: 0;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 50%;
  color: #0FA8AE;
  background: #ccc;
}
.flexsliderService .flex-direction-nav a:hover {
  background: #0FA8AE;
}
.flexsliderService .flex-direction-nav a::before {
  content: "";
  display: block;
  width: 11px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='21' viewBox='0 0 11 21' fill='none'%3E%3Cpath d='M9 19L2.75329 12.0025C2.01557 11.1761 2.01557 9.82387 2.75329 8.99749L9 2' stroke='%230FA8AE' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  font-size: inherit;
}
.flexsliderService .flex-direction-nav a:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='21' viewBox='0 0 11 21' fill='none'%3E%3Cpath d='M9 19L2.75329 12.0025C2.01557 11.1761 2.01557 9.82387 2.75329 8.99749L9 2' stroke='%23FFFFFF' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.flexsliderService .flex-direction-nav a.flex-next::before {
  transform: rotate(180deg);
}
.item-service {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 26px 20px;
  border-top: 2px solid #eaeaea;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.item-service::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #0FA8AE;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.item-service:hover::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.item-service .item-img {
  position: relative;
  padding: 0 10px;
  margin-bottom: 24px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.item-service .item-img::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 44px;
  width: 44px;
  border-radius: 12px;
  background-color: #CFEEEF;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.item-service .item-img svg {
  position: relative;
}
.item-service:hover .item-img::before {
  width: 73px;
  height: 73px;
}
.item-service .item-body {
  flex: 1 1 auto;
}
.item-service .item-body .item-title {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.item-service .item-link {
  margin-top: 24px;
}
.item-service .item-link .link-more {
  font-size: 18px;
  text-transform: lowercase;
}
.item-service .item-link .link-more .svg-icon {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.item-service:hover .item-link .link-more .svg-icon {
  transform: rotate(-90deg);
}
.service-bottom {
  padding-top: 30px;
}
@media (min-width: 992px) {
  .service-bottom {
    margin-top: -370px;
  }
}
.service-bottom .maxwidth-theme {
  max-width: 100%;
}
.service-bottom .background-banner {
  min-height: 400px;
  background-size: cover;
  background-position: center center;
}
.service-bottom .section-text {
  max-width: 650px;
  padding: 20px 0;
  color: #555;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .service-bottom .section-text {
    padding: 40px 0;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .service-bottom .section-text {
    padding: 400px 0 125px 30px;
  }
}
.service-bottom .section-text p {
  margin-bottom: 8px;
}
.service-bottom .section-text__title {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .service-bottom .section-text__title {
    font-size: 24px;
  }
}
.frontpage-cat-tabs .nav-tabs.nav-justified > li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  height: 2px;
  background-color: #0FA8AE;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.frontpage-cat-tabs .nav-tabs.nav-justified > li.active::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.frontpage-cat-tabs .nav-tabs.nav-justified > li > a {
  border-radius: 0;
}
@media (min-width: 768px) {
  .frontpage-cat-tabs .nav-tabs.nav-justified > li > a {
    font-size: 24px;
    border-bottom-width: 2px;
  }
}
.frontpage-cat-tabs .nav-tabs.nav-justified > li.active > a {
  border-width: 2px;
}
@media (max-width: 767px) {
  .frontpage-cat-tabs .nav-tabs.nav-justified > li.active > a {
    border-color: #0fa8ae;
  }
}
.frontpage-cat-tabs .tab-content {
  border: 2px solid #ddd;
  padding: 27px;
}
@media (max-width: 767px) {
  .frontpage-cat-tabs .tab-content {
    margin-top: 24px;
  }
}
@media (min-width: 768px) {
  .frontpage-cat-tabs .tab-content {
    border-top: none;
  }
}
.frontpage-cat-tabs .tab-body > .flex-row {
  --bs-gutter-y: 20px;
}
.frontpage-cat-tabs .tab-body .tab-title {
  color: #555;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.frontpage-cat-tabs .tab-body.tab-cat-power .tab-title a {
  font-weight: 700;
}
.frontpage-cat-tabs .tab-body.tab-cat-power .tab-title a:hover {
  text-decoration: underline !important;
}
@media (max-width: 370px) {
  .frontpage-cat-tabs .tab-body.tab-cat-power .tab-title a {
    display: block;
  }
}
.frontpage-cat-tabs .tab-body .tab-list a {
  display: inline-block;
  color: #555;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin: 0 30px 20px 0;
}
.frontpage-cat-tabs .tab-body .tab-list a:hover {
  color: #0fa8ae;
}
.frontpage-cat-tabs .tab-body .item-tab-cat {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-title {
  text-align: center;
  color: inherit;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-title a {
  color: #555;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-title a:hover {
  color: #0fa8ae;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-img img {
  width: 100%;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-text {
  font-size: 14px;
}
@media (min-width: 768px) {
  .frontpage-cat-tabs .tab-body .item-tab-cat .tab-text {
    padding: 0 20px;
  }
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-text > p,
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-text > ul,
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-text > ol {
  margin-bottom: 8px;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-icons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  margin-top: 8px;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-icons .item-tab-cat__icon {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-icons .item-tab-cat__icon .icon-cat {
  flex-shrink: 0;
}
.frontpage-cat-tabs .tab-body .item-tab-cat .tab-icons .item-tab-cat__icon .icon-text {
  font-size: 11px;
}
.frontpage-partners-row {
  padding-bottom: 60px;
}
.frontpage-partners-row .partners .flexslider {
  margin-bottom: 0;
}
.frontpage-partners-row .partners .flexslider .flex-control-nav {
  display: none !important;
  bottom: -30px;
}
@media (max-width: 991px) {
  .frontpage-partners-row .partners .flexslider .flex-control-nav {
    display: block !important;
  }
}
.frontpage-partners-row .partners .flexslider .flex-control-nav li {
  margin: 0;
}
.frontpage-partners-row .partners .flexslider .flex-control-nav li a {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: none;
  border: medium none;
  margin: 0 5px;
  background: #0fa8ae;
}
.frontpage-partners-row .partners .flexslider .flex-control-nav li a.flex-active,
.frontpage-partners-row .partners .flexslider .flex-control-nav li a:hover {
  width: 12px;
  height: 12px;
  margin: 0 2px;
  border: 2px solid #0fa8ae;
  background: transparent !important;
}
.frontpage-news-row .section-heading {
  text-align: left;
}
.sert-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .sert-wrapper {
    margin-bottom: 30px;
  }
}
.sert-wrapper .sert-items {
  margin-right: 24px;
}
@media (min-width: 768px) {
  .sert-wrapper .sert-items {
    margin-right: 12px;
  }
}
.sert-wrapper .sert-items .item-sert {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid #fff;
}
.sert-wrapper .sert-items .item-sert + .item-sert {
  margin-left: -20px;
}
.sert-wrapper .sert-items .item-sert img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.sert-wrapper .sert-link a {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
@media (max-width: 767px) {
  .sert-wrapper .sert-link a .svg-icon.icon-arrow-right {
    width: 5px;
    height: 10px;
  }
}
@media (min-width: 768px) {
  .sert-wrapper .sert-link a {
    font-size: 18px;
  }
}
.item-big-news {
  margin-bottom: 24px;
}
.item-big-news .item-img {
  margin-bottom: 12px;
}
.item-big-news .item-img img {
  width: 100%;
}
.item-big-news .item-body .item-title {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .item-big-news .item-body .item-title {
    font-size: 16px;
  }
}
.item-big-news .item-body .item-title a {
  color: #333;
}
.item-big-news .item-body .item-title a:hover {
  color: #0fa8ae;
}
.item-big-news .item-body .item-date {
  color: #555;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .item-big-news .item-body .item-date {
    font-size: 16px;
  }
}
.item-news {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .item-news {
    margin-bottom: 30px;
  }
}
.item-news .item-img {
  flex-shrink: 0;
  width: 136px;
}
@media (min-width: 768px) {
  .item-news .item-img {
    width: 124px;
  }
}
.item-news .item-img img {
  width: 100%;
}
.item-news .item-body .item-title {
  color: #333;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .item-news .item-body .item-title {
    font-size: 16px;
  }
}
.item-news .item-body .item-title a {
  color: #333;
}
.item-news .item-body .item-title a:hover {
  color: #0fa8ae;
}
.item-news .item-body .item-date {
  color: #555;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .item-news .item-body .item-date {
    font-size: 16px;
  }
}
.frontpage-seo-row .section-heading {
  text-align: left;
  max-width: 800px;
}
.frontpage-seo-row .section-body .section-text {
  position: relative;
  overflow: hidden;
  height: 260px;
  max-width: 650px;
  transition: height 0.5s ease;
}
.frontpage-seo-row .section-body .section-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #ffffff 100%);
  transition: opacity 0.5s ease;
}
.frontpage-seo-row .section-body .section-text.expanded {
  overflow: visible;
  height: auto;
  transition: height 0.5s ease;
}
.frontpage-seo-row .section-body .section-text.expanded::after {
  opacity: 0;
}
.frontpage-seo-row .section-body .section-link {
  margin-top: 20px;
}
.frontpage-seo-row .section-body .section-link .show-text-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-transform: lowercase;
}
.frontpage-seo-row .section-body .section-link .show-text-link .svg-icon {
  transition: transform 0.5s ease;
}
.frontpage-seo-row .section-body .section-link .show-text-link.rotated .svg-icon {
  transform: rotate(180deg);
}
footer {
  background: #F6F3F299;
  box-shadow: none;
  color: #555;
  font-size: 12px;
  line-height: 1.5;
}
@media (max-width: 767px) {
  footer {
    text-align: left;
  }
}
@media (min-width: 768px) {
  footer {
    font-size: 16px;
  }
}
footer .footer-main {
  padding: 30px 0;
}
footer .footer-main .maxwidth-theme > .flex-row {
  --bs-gutter-y: 24px;
}
footer .footer-main .footer-logo {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  footer .footer-main .footer-navs-wrapper {
    margin-top: 24px;
  }
}
footer .footer-main .footer-navs-wrapper > .flex-row {
  --bs-gutter-y: 24px;
}
footer .footer-main .info {
  padding: 0;
  margin-top: 20px;
  text-align: right;
}
footer .footer-main .info .phone {
  white-space: nowrap;
  margin-bottom: 0;
  line-height: 1.25;
}
footer .footer-main .info .phone a {
  color: #0fa8ae;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.01em;
}
@media (min-width: 768px) {
  footer .footer-main .info .phone a {
    font-size: 24px;
  }
}
footer .footer-main .info .phone a:hover {
  color: #333;
}
footer .footer-main .info .email a {
  color: #0fa8ae;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width: 768px) {
  footer .footer-main .info .email a {
    font-size: 24px;
  }
}
footer .footer-main .info .email a:hover {
  color: #333;
}
footer .footer-main .footer-widget .widget-title {
  display: block;
  color: #555;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 12px;
}
footer .footer-main .footer-widget .widget-title:hover {
  color: #0fa8ae;
}
footer .footer-main .footer-widget .footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 768px) {
  footer .footer-main .footer-widget .footer-nav {
    font-size: 16px;
  }
}
footer .footer-main .footer-widget .footer-nav a {
  display: block;
  color: #555;
  text-decoration: none;
  margin-bottom: 12px;
}
footer .footer-main .footer-widget .footer-nav a:hover {
  color: #0fa8ae;
}
footer .footer-main .footer-widget .footer-nav > li:last-child > a {
  margin-bottom: 0;
}
footer .footer-main .footer-widget .footer-nav.uppercase-nav {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
footer .footer-bottom {
  padding: 24px 0;
  font-size: 14px;
  background-color: #fff;
}
@media (min-width: 768px) {
  footer .footer-bottom {
    padding: 14px 0;
  }
}
footer .footer-bottom .maxwidth-theme > .flex-row {
  --bs-gutter-y: 20px;
}
footer .footer-bottom .terms {
  text-align: center;
}
@media (min-width: 768px) {
  footer .footer-bottom .terms {
    text-align: left;
  }
}
footer .footer-bottom .terms a {
  display: inline-block;
  margin: 0 8px 8px 0;
}
footer .footer-bottom .copy {
  text-align: center;
  padding: 0;
}
@media (min-width: 768px) {
  footer .footer-bottom .copy {
    text-align: right;
  }
}
